body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
gap: 20rem;
}


.section{
width: 750px;
height: 500px;
background-color: blue;
background-image: url(../img/bosque\ oficial.png);
background-size: 750px 500px ;
position: relative;
min-width: 750px;
}

.nube{
    width: 160px;
    position: absolute;
    left: 30%;
}

.nube1{
    width: 160px;
    position: absolute;
    left: 50%;
    top: 15%;
}


.ardilla2{
    width: 80px;
    position: absolute;
    left: 18%;
    top: 74%;
}
.moneda1{
    width: 80px;
    position: absolute;
    left: 45%;
    top: 79%;
}

.moneda2{
    width: 80px;
    position: absolute;
    left: 90%;
    top: 0%;
}
.ardilla1{
    width: 80px;
    position: absolute;
    left: 85%;
    top: 74%;
}

.score1{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 0, 0.185);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    color: black;
}
.ardilla{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 0, 0.185);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    color: white;
    font-size: 15px;
}
.saltar{
    animation: salto 0.6s ease forwards;
}


@keyframes salto {
    0%{transform: translateY(0); opacity: 1;}
    30%{transform: translateY(-60px);}
    100%{transform: translateY(0); opacity: 0;}
}


.bloque{
    animation: mover 4s linear infinite alternate;
}

@keyframes mover {
    0%{left: 50%;}
    50%{left: 62%;}
    100%{left: 15%;}

}








.section2{
width: 750px;
height: 500px;
background-color: blue;
background-image: url(../img/istockphoto-978332866-612x612.jpg);
background-size: 750px 500px ;
position: relative;
min-width: 750px;


}

.cami{
    width: 90px;


}


.cami1{
position: absolute;

top: 40%;

}

.cami2{
position: absolute;
top: 40%;
left: 87%;

}


.cami3{
position: absolute;
top: 20%;
left: 30%;

}

.cami4{
position: absolute;
top: 60%;
left: 30%;
}


.cami5{
position: absolute;
top: 40%;
left: 20%;


}


.cami6{
    position: absolute;
top: 20%;
left: 55%;

}
.cami7{
    position: absolute;
top: 60%;
left: 55%;

}

.cami8{
    position: absolute;
top: 40%;
left: 70%;

}

























.section3{
width: 750px;
height: 500px;
background-color: blue;
background-image: url(../img/istockphoto-1891623651-612x612.jpg);
background-size: 750px 500px ;
position: relative;
min-width: 750px;


}


.sol{
    width: 150px;
}


.sol2{
position: absolute;
left: 40%;
top: 70%;
}

.sol1{
    position: absolute;
    left: 40%;
}


.aguila{
    width: 100px;
}

.aguila1{
position: absolute;
left: 80%;
top: 20%;
}

.aguila2{
position: absolute;
left: 70%;
top: 70%;
}



.aguila3{
position: absolute;
left: 20%;
top: 60%;
}



.aguila4{
position: absolute;
left: 20%;
top: 30%;
}
