body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}


.section{
width: 750px;
height: 500px;
background-color: blue;
background-image: url(../img/bosque\ oficial.png);
background-size: 750px 500px ;
position: relative;
min-width: 750px;
}

.nube{
    width: 160px;
    position: absolute;
    left: 30%;
}

.nube1{
    width: 160px;
    position: absolute;
    left: 50%;
    top: 15%;
}


.moneda{
    width: 80px;
    position: absolute;
    left: 18%;
    top: 74%;
}
.moneda1{
    width: 80px;
    position: absolute;
    left: 45%;
    top: 79%;
}

.moneda2{
    width: 80px;
    position: absolute;
    left: 90%;
    top: 0%;
}
.moneda3{
    width: 80px;
    position: absolute;
    left: 85%;
    top: 74%;
}

.score{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 0, 0.185);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    color: black;
}
.ardilla{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 0, 0.185);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    color: white;
    font-size: 15px;
}